/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

/* these are not the only button types */
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;
  color: inherit;
  background: transparent;
}

textarea {
  font-family: 'Rubik', sans-serif;
}

/* reset end */

/* style-guide */
:root {
  --accent1: #ffb900;
  --accent2: #5d458c;
  --darkened-accent1: color-mix(in srgb, var(--accent1) 85%, var(--black));
  --main: #2d1b50;
  --white: #fff;
  --black: #000;
  --gray-200: color-mix(in srgb, var(--gray-500) 20%, var(--white));
  --gray-500: #757575;

  --body-copy-size: 18px;
  --body-line-height: 22px;
}

.container {
  width: 100%;
  padding: 0 24px;
  max-width: 1272px;
  margin: 0 auto;
}

/* headings */
.heading {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
}

.sub-heading {
  font-weight: 500;
  color: var(--accent1);
  font-size: 30px;
  line-height: 36px;
}
/* headings */

/* cards */
.card {
  border: 1px solid var(--accent2);
  border-radius: 8px;
  padding: 8px;
}
/* cards */

/* buttons */
.button {
  display: inline-flex;
  height: 50px;
  padding: 0 26px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: color 0.2s linear, background-color 0.2s linear;
}

.button.icon-left {
  padding-left: 18px;
}

.button.icon-right {
  padding-right: 18px;
}

.button.button-disabled {
  background: var(--gray-500);
  border-color: var(--gray-200);
  opacity: 0.6;
}

.button.button-disabled:hover {
  cursor: not-allowed;
  background: var(--gray-500);
  border-color: var(--gray-200);
}

.button-primary {
  background: var(--accent1);
  border-radius: 28px;
  border: 1px solid var(--accent1);
}

.button-primary:hover {
  background: var(--darkened-accent1);
  border-color: var(--darkened-accent1);
}

.button-primary-outline {
  border: 2px solid var(--accent1);
  border-radius: 28px;
}

.button-primary-outline:hover {
  background: var(--darkened-accent1);
  border-color: var(--darkened-accent1);
}
/* buttons */

/* form inputs */
input:not([type='checkbox']):not([type='radio']),
textarea.form-control {
  border: 1px solid var(--accent1);
  height: 50px;
  background: transparent;
  padding: 0 8px;
  font-size: var(--body-copy-size);
  color: var(--accent1);
  border-radius: 6px;
}

input:not([type='checkbox']):not([type='radio']):focus-visible,
textarea.form-control:focus-visible {
  outline: var(--darkened-accent1) solid 2px;
}

/* there are many many more types of inputs */
input:not([type='checkbox']):not([type='radio']):disabled,
textarea.form-control:disabled {
  border-color: var(--gray-200);
  background: var(--gray-500);
  color: var(--gray-200);
  cursor: not-allowed;
  opacity: 0.6;
}

input:not([type='checkbox']):not([type='radio']):disabled::placeholder,
textarea.form-control:disabled::placeholder {
  color: var(--gray-200);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 1px solid var(--accent1);
  -webkit-text-fill-color: var(--accent1);
  -webkit-box-shadow: 0 0 0px 1000px var(--accent2) inset;
  transition: background-color 5000s ease-in-out 0s;
}

textarea.form-control {
  padding-top: 4px;
  padding-bottom: 4px;
}

textarea.form-control:disabled {
  resize: none;
}

select.form-control {
  border: 1px solid var(--accent1);
  height: 50px;
  background: transparent;
  padding: 0 8px;
  font-size: var(--body-copy-size);
  color: var(--accent1);
  border-radius: 6px;
  cursor: pointer;
}

select.form-control option {
  color: initial;
}

select.form-control:focus-visible {
  outline: var(--darkened-accent1) solid 2px;
}

select.form-control:disabled {
  border-color: var(--gray-200);
  background: var(--gray-500);
  color: var(--gray-200);
  cursor: not-allowed;
  opacity: 0.6;
}
/* form inputs */

/* hamburger */
.hamburger {
  display: inline-flex;
  width: 36px;
  height: 36px;
  padding: 8px;
  gap: 4px;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.hamburger > span {
  width: 100%;
  height: 2px;
  background-color: var(--accent1);
  display: block;
  border-radius: 1px;
  transition: opacity 0.2s linear, transform 0.2s linear;
}

.hamburger.open > span:nth-child(1) {
  transform: translateX(3px) rotate(45deg);
  transform-origin: center left;
}

.hamburger.open > span:nth-child(2) {
  transform: translateY(1px) rotate(-45deg);
}

.hamburger.open > span:nth-child(3) {
  opacity: 0;
}
/* hamburger */
@media (min-width: 1024px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
/* generic style-guide layout */
.sg .header {
  margin: 36px 0;
}

.sg .content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 80px;
}

.sg .grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}
/* generic style-guide layout end */
/* style-guide end */

/* general */
body {
  background: var(--main);
  font-family: 'Rubik', sans-serif;
  color: var(--white);
  font-size: var(--body-copy-size);
  line-height: var(--body-line-height);
}

/* general end */

/* header */
.header {
  padding: 28px 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

.header-inner {
  display: grid;
  grid-template-columns: 36px 1fr 36px;
  place-items: center center;
}

.header-logo {
  display: inline-block;
  grid-column: 2 / span 1;
  grid-row: 1 / -1;
  background: var(--main);
}

.header-hamburger {
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  transform: translateX(-8px, -2px);
  transform: translateX(-8px, -2px);
}

#off-canvas {
  display: none;
}

#off-canvas:checked ~ .header-hamburger .hamburger > span:nth-child(1) {
  transform: translateX(3px) rotate(45deg);
  transform-origin: center left;
}

#off-canvas:checked ~ .header-hamburger .hamburger > span:nth-child(2) {
  transform: translateY(1px) rotate(-45deg);
}

#off-canvas:checked ~ .header-hamburger .hamburger > span:nth-child(3) {
  opacity: 0;
}

.header-nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: calc(-100vh + 95px);
  transition: transform 0.2s ease-in-out, border-color 0.2s linear;
  background: var(--main);
  z-index: -1;
  border-bottom: 1px dashed var(--accent1);
  padding-top: 64px;
}

.header-nav ul {
  display: flex;
  flex-direction: column;
  gap: 48px;
  font-size: 24px;
  text-transform: lowercase;
}

#off-canvas:checked ~ .header-nav {
  transform: translateY(calc(100vh));
  border-color: transparent;
  opacity: 1;
}

@media (min-width: 1024px) {
  .header {
    border-bottom: 1px dashed var(--accent1);
  }

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav {
    border: 0;
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    z-index: 1;
    opacity: 1;
  }

  .header-nav ul {
    flex-direction: row;
    font-size: 20px;
    gap: 40px;
  }

  .header-hamburger {
    display: none;
  }
}

/* header */

/* footer */
.footer {
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.footer-separator {
  border-bottom: 1px dashed var(--accent1);
  margin: 12px auto;
}
.footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}
.footer-nav a {
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid var(--accent1);
  padding: 4px 12px;
  border-radius: 18px;
}
@media (min-width: 1024px) {
  .footer-nav ul {
    gap: 16px;
  }
  .footer-nav a {
    display: inline;
    border: 0;
    padding: 0;
  }
  .footer-separator {
    width: 100%;
    max-width: 1272px;
  }
}
/* footer end */
/* homepage */
.content {
  margin-bottom: 216px;
}
.banner-main {
  height: 500px;
  background: var(--main) url('../images/low-res-banner.jpg') no-repeat center
    center / cover;
  text-align: center;
  overflow: hidden;
  padding-top: 320px;
}
.banner-main .banner-line-1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 4px;
}
.banner-main .banner-line-1 > span {
  font-weight: 700;
}
.banner-main .banner-line-2 {
  font-weight: 300;
}
.banner-main .banner-line-2 > span {
  font-weight: 500;
}
.banner-main .banner-ctas {
  margin-top: 20px;
  text-transform: lowercase;
}
/* homepage end */